@model IEnumerable<Take.Gamification.Models.UserMerit>

<table class="table">
    <tr>
        <th>
            Quem fez
        </th>
        <th>
            Para quem
        </th>
        <th>
            Mérito
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @( item?.OwnerUser?.Name ?? "Sistema" )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Merit.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <span class="from-now" title="@item.Created.ToString("dd/MM/yyyy HH:mm:ss")">@item.Created.ToString("yyyy/MM/dd HH:mm:ss")</span>
            </td>
        </tr>
    }
</table>
