@if (Request.IsAuthenticated)
{
    <text>
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">
            @Html.Gravatar(@User.Identity.Name, 45, new { Title = @User.Identity.Name, Alt = @User.Identity.Name })
        </li>
        <li>
            @Html.ActionLink("Sair", "SignOut", "Account")
        </li>
    </ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
