@{
    ViewBag.Title = "Dashboard";
}
<div class="jumbotron">
    @Html.Gravatar(@User.Identity.Name, 100, new { Title = @User.Identity.Name, Alt = @User.Identity.Name, style = "float:left; padding: 15px;" })

    <p class="lead">Pontuação total: @ViewBag.Score</p>
    <p class="lead">Quantidade de méritos: @ViewBag.MeritsCount</p>
    <p class="lead">
        <img src="~/Content/imgs/bronze.png" width="25" title="Bronze" /> @ViewBag.Bronze
        <img src="~/Content/imgs/silver.png" width="25" title="Prata" /> @ViewBag.Silver
        <img src="~/Content/imgs/gold.png" width="25" title="Ouro" /> @ViewBag.Gold
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Últimas atividades (Geral)</h2>
        @Html.Action("LastMerits", "Merits")
    </div>
    <div class="col-md-6">
        <h2>Meus méritos</h2>
        @Html.Action("MyLastMerits", "Merits")
    </div>
</div>